
.container-fluid {
  background-color: #5bc0de;
}

.top {
  background-color: lightgreen; max-width: 600px; margin: 0 auto; padding: 5%; border-radius: 10px;
}

.lower {
  background-color: lightyellow; max-width: 600px; margin: 0 auto; padding: 5%; border-radius: 10px;
}

.title h1 {
  color: white; text-align: center;
}

.title h4 {
  color: darkgreen; text-align: center;
}

#findreplace {
  color: darkgreen;
}

#result {
  display:none;
}

#returnsentence p {
  font-size: 16px;
}
